.navbar-edited{
    background-color: #181818;
}

.navbar-item-edited{
    background-color: #060607;
}

.profile-image-container{
    margin: 20px;
    border: solid 2px #12a994;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
}

.main-section-here{
    box-sizing: border-box;
}

.changing-word{
    padding: 2px;
    border-bottom: 2px solid #12a994;
    font-family: 'Raleway';
}

#my-profile-name{
    font-size: 60px;
    font-weight: 400px;
    font-family: 'Raleway';
    color: #12a994;
}

.about-me-par{
    font-family: 'Railway';
    font-weight: 300;
    font-size: 1.25rem;
}

.float-this-left{
    float: left;
}