.navbar-edited{
    background-color: #181818;
}

.navbar-item-edited{
    background-color: #060607;
}

.profile-image-container{
    margin: 20px;
    border: solid 2px #12a994;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 50%;
}

.changing-word{
    padding: 2px;
    border-bottom: 2px solid #12a994;
}

#my-profile-name{
    font-size: 45px;
    color: #12a994;
}